@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Asap:400,700,700italic,400italic');

html
  font 11px Asap,Sans-Serif
  line-height 1.5
  color #3B4854
  min-width 600px

a
  color #4CC2E4
  &:hover
    color #4CD6FC

h1
  font-weight bold
  font-size 2em

.exterior
  margin 0 auto
  max-width 640px
  .interior
    padding 25px 25px 0

#footer
  .interior
    text-align center